<div class="section contact">
  <h2>Vous pouvez me contacter</h2>
  <div class="contact-links">
    <div class="contact-link">
      <%= link_to "mailto:louis.hocquet@sfr.fr", class: "contact-icon" do %>
        <i class="fa-solid fa-envelope"></i>
      <% end %>
      <%= link_to "mailto:louis.hocquet@sfr.fr", class: "contact-text" do %>
        <p>Par email</p>
      <% end %>
    </div>
    <p> ou </p>
    <div class="contact-link">
      <%= link_to "https://www.linkedin.com/in/louis-hocquet/", class: "contact-icon" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/louis-hocquet/", class: "contact-text" do %>
        <p>Sur Linkedin</p>
      <% end %>
    </div>
  </div>
</div>
