<div class="section services">
  <a class="anchor" id="services"></a>
  <h2>Expertise</h2>

  <div class="service-cards">
    <% @expertises.each do |expertise| %>
      <div class="service-card">
        <i class="<%= expertise.fontawesome.to_s %>"></i>
        <p><%= expertise.name %></p>
      </div>
    <% end %>
  </div>
</div>
