<div class="section about-me">
  <h2>
    Outils et compétences
  </h2>
  <div class="tool-tags">
    <% @tools.each do |tool| %>
      <div class="tool-tag">
        <%= tool.name %>
      </div>
    <% end %>
  </div>

</div>
