// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors
// $my-primary: #0077B6;
// $my-primary: #42CB2A;
// $my-primary: #665889;
$my-primary: #6D33FF;
$my-primary-50: rgba(109, 51, 255, 0.5);
$baby-powder: #FFFFFC;
