// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$x_large: 1200px;

// Effects
$box_shadow: 6px 4px 1px $primary;
$box-shadow-light: rgba(0, 0, 0, 0.16) 0px 1px 4px;

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}

.container {
  max-width: 1080px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 48px 0;
  padding-top: 24px;
  padding-bottom: 72px;
  gap: 24px;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}
