<div class="container">
  <div class="row">
    <div class="col">
      <div class="section">
        <h1>Projets</h1>
        <div>
          <% @projects.each do |project| %>
            <div class="d-flex justify-content-between border rounded-3 p-4 mb-3">
              <h3><%= project.name %></h3>
              <div class="d-flex flex-row gap-2">
                <%= link_to("Modifier", edit_project_path(project), class:"btn btn-primary px-3 py-2 rounded-3") %>
                <%= link_to project_path(project), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Supprimer le projet ?"
                },
                class: "btn btn-danger px-3 py-2 rounded-3" do %>
                  <i class="fa-solid fa-trash-can text-white"></i>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
        <%= link_to("Nouveau", new_project_path, class:"btn btn-primary px-3 py-2 rounded-3") %>
      </div>
    </div>
  </div>
</div>
