.contact-links {
  display: flex;
  align-items: center;
  gap: 24px;
  i {
    font-size: 32px;
    color: $gray;
    @include media-min($large) {
      font-size: 40px;
    }
  }
  i:hover {
    color: $primary;
  }
  p {
    margin: 0;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 32px;
  contact-icon {
    text-decoration: none;
  }
}

.form-control {
  border: 2px solid $gray;
  border-radius: 5px;
  padding: 12px 8px;
  color: $gray;
  transition: box-shadow border-color 250ms ease;
  &:focus {
    border-color: $gray;
    box-shadow: $box_shadow;
  }
  &::placeholder {
    font-weight: lighter;
  }
}

.form-control{
  margin-top: 12px;
  @include media-min($medium){
    margin-top: 16px;
  }
  @include media-min($large){
    margin-top: 24px;
  }
  &.no-margin-mobile {
    margin: 0;
    @include media-min($medium){
      margin-top: 16px;
    }
    @include media-min($large){
      margin-top: 24px;
    }
  }
}

.form-group-error {
  .form-control {
    background-color: rgba(253, 16, 21, 0.1)
  }
  span {
    font-size: smaller;
    color: $red;
  }
}

textarea.form-control {
  height: 160px;
  @include media-min($medium) {
    height: 240px;
  }
}

.contact-form {
  input[type="submit"] {
    width: 100%;
    margin-top: 12px;
    @include media-min($medium){
      margin-top: 16px;
    }
    @include media-min($large){
      margin-top: 24px;
    }
  }
}
