.navbar-lewagon {
  justify-content: space-between;
  background: $body-bg;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: $box-shadow-light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand .logo {
  width: 40px;
  height: 40px;
  color: white;
  background: $primary;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 24px;
    margin: 0;
  }
}

.navbar-lewagon {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
    padding: 32px 0;
    @include media-min($medium) {
      flex-direction: row;
      padding: 0;
      gap: 32px;
    }
    @include media-min($large) {
      gap: 64px;
    }
  }
  // .nav-link {
  //   @include media-min($medium) {
  //     gap: 32px !important;
  //   }
  //   @include media-min($large) {
  //     gap: 48px !important;
  //   }
  // }
}
