.project-cards {
  display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
    @include media-min($large) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    }
    @include media-min($x_large) {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }
}

.project-card {
  box-shadow: $box_shadow;
  transition: all 300ms ease;
  height: 440px;
  border: solid 2px $black;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  * {
    transition: all 300ms ease;
  }
  @include media-min($large) {
    height: 560px;
  }
  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Active card temp
.project-card-active {
  @media (pointer:coarse) {
    transition: all 300ms ease;
    background-color: $black;
    * {
      transition: all 300ms ease;
    }
    h3 {
      color: $white;
    }
    .card-image {
      transform: translate(-6%, 0) rotate(-6deg);
    }
    .card-mobile-thumbnail {
      transform: translate(0, -6%);
    }
    .card-title {
      padding: 16px 20px;
      i {
        visibility: visible;
        transition: 0ms ease;
      }
    }
    .card-empty-message {
      p, strong, i {
        color: $white;
      }
    }
  }
}

.project-card:hover {
  // box-shadow: $box_shadow;
  transition: all 300ms ease;
  cursor: pointer;
  background-color: $black;
  * {
    transition: all 300ms ease;
  }
  h3 {
    color: $white;
  }
  .card-image {
    transform: translate(-6%, 0) rotate(-6deg);
    // transform: translate(0, 0);
  }
  .card-mobile-thumbnail {
    transform: translate(0, -6%);
  }
  .card-title {
    padding: 16px 20px;
    @include media-min($large) {
      padding: 24px 32px;
    }
    i {
      visibility: visible;
      transition: 0ms ease;
    }
  }
  .card-empty-message {
    p, strong, i {
      color: $white;
      // transition: all 300ms ease
    }
  }
}



.card-title {
  display: flex;
  padding: 16px 16px;
  @include media-min($large) {
    padding: 24px 24px;
  }
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  i {
    font-size: 32px;
    color: $white;
    visibility: hidden;
    transition: 0ms ease;
    @include media-min($large) {
      font-size: 40px;
    }
  }
}

.card-image {
  // temp
  border: solid 2px $black;
  background-color: $white;
  //
  width: 116%;
  margin-top: 20px;
  transform: translate(-6%, 48px) rotate(-6deg);
  // transform: translate(0, 48px);
}

.card-mobile-thumbnail {
  transition: all 600ms ease;
  overflow: hidden;
  position: absolute;
  border: solid 6px black;
  border-radius: 24px;
  @include media-min($large) {
    border-radius: 32px;
  }
  left: 8px;
  top: 40%;
  width: 172px;
  @include media-min($large) {
    width: 240px;
  }
  // @include media-min($large) {
  //   width: 32%;
  // }
  transform: translate(-500px, -6%);
  .nudge {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    @include media-min($large) {
      top: 10px;
    }
  }
  .nudge-shape {
    background-color: $black;
    height: 12px;
    border-radius: 20px;
    @include media-min($large) {
      height: 14px;
    }
    width: 32%;
  }
  img {
    width: 100%;
  }
}

.card-empty-message {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  margin: 0 auto;
  align-items: center;
  padding: 16px;
  gap : 16px;
  @include media-min($large) {
    padding: 32px;
    gap: 24px;
  }
  i {
    font-size: 32px;
    color: $primary;
    @include media-min($large) {
      font-size: 40px;
    }
  }
  p, strong {
    color: $black;
  }
}
